@import url('googleapis.com');

        /* +6 variables */
:root {
    --primary-color:#ff7900;
     --primary-dark:#1e2229; 
    --accent-color:#0b1a30;
    --bg-light:#ffffff;
    --text-dark:#fcfbfa;
    --text-muted: #687182;
    /* Police */
  --font-headings:'Open sans',sans-serif;
  --font-body:'Oswald';
    /* Espacement */
--spacing-section:80px;
--border-raduis-sm:8px;
--border-raduis-lg:16px;

}
                /* Reset     */
*,*::before,*::before {
 box-sizing:border-box;
 margin: 0;
 padding: 0;
}
        /* Base */
body {
    font-family: var(--font-body);
    color: var(--text-dark);
    background-color: #ffffff;
    line-height: 1.6;
    overflow-x: hidden;
}
        /* Police aux  Titres */
h1,h2,h3,h4,h5,h6 {
    font-family: var(--font-headings);
    color: var(--text-dark);
     font-weight:700 ;
}
        /* Barre de navigation */
#mainNavbar {
    background-color:white;
    backdrop-filter: blur(8px);
    transition:all 0.3s ease;
}
        /* logo et de l'image */
.navbar-brand-container {
    display: flex;
    align-items: center;
    gap: 10px;
}
.navbar-brand {
    font-family: var(--font-headings);
    font-weight: 800;
    color: var(--primary-color) !important;
    font-size: 1.5rem;
}
        /* image */
#mainNavbar img {
    border-radius: var(--border-radius-sm);
    object-fit: cover;
}
    /* Alignement et style du liens de navigtion */
#mainNavar .nav-link {
    color: var(--text-dark) !important;
    font-weight: 500;
    padding: 0.5rem 1rem !important;
    transition: color 0.2s ease;
    font-size: 500;
}
#mainNavbar .nav-link:hover,
#mainNavbar .nav-link.active {
    color: var(--primary-color) !important;
}
        /* Bouton AfriTalent */
.btn-afri {
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 10px 24px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: 600;
    display:inline-block;
    transition: all 0.2s ease;
}
.btn-afri:hover {
    background-color: var(--primary-dark);
    box-shadow:0 4px 12px rgba(13, 110, 253, 0.25);
    transform: translateY(-1px);
}









